.coverImage {
  width: 100%;
  object-position: 50%;
}

.postTitle {
  font-size: 56px;
  line-height: 64px;
  font-weight: 900;
  font-family: "Source Serif Pro", serif;
  margin: 25px 0;
}

.postContent {
  font-family: "Lusitana", serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.postContent h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.postContent a {
  text-decoration: none;
  color: rgb(2, 2, 255);
}

@media only screen and (max-width: 600px) {
  .postTitle {
    font-size: 35px;
    line-height: 40px;
    font-weight: 900;
    margin: 15px 0;
  }

  .postContent {
    line-height: 24px;
  }
}
