:root {
  --text-color: rgb(17, 17, 17);
  --primary: #2f4e80;
  --bg-color: #fafcff;
}


body{
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(250, 250, 250);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-inp{
  height: 40px;
  width: 340px;
  color: #4d4d4d;
}


a, .nav-link{
  color: var(--primary);
  text-decoration: none;
}

.btn{
  background-color: var(--primary);
  color: var(--bg-color);
}

.join-btn{
  background-color: var(--bg-color);
  color: var(--text-color);
}


#logo{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary);
}



.newsletter-card{
  background-color:var(--primary);
  color: #ffe;
}


.my-picture, .post-thumbnail{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.post-thumbnail{
  object-position: 50%;
}







.newsletter-input{
  width: 300px;
  height: 58px;
  padding: 0 7px;
  border-radius: 5px;
  margin-right: 10px;
  border:1px solid #dddddd
}





@import url(https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);

.post-paragraph{
  font-family: 'Source Serif Pro', serif;
  font-size: 17px;
  line-height: 28px;
}

.post-title{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
}

.post-body h2{
  font-family: 'Josefin Sans', sans-serif;  
  font-size: 30px;
}

.post-body a{
  text-decoration: none;
  color: rgb(2, 2, 255);
}

blockquote{
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background: #f8f8f8;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.9em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: center;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}



@media only screen and (max-width: 600px) {
  .search-inp{
      width: 100%;
  } 

  .my-picture{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .post-thumbnail{
    width: 100%;
    height: 240px !important;

  }
}