:root {
  --text-color: rgb(17, 17, 17);
  --primary: #2f4e80;
  --bg-color: #fafcff;
}


body{
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(250, 250, 250);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-inp{
  height: 40px;
  width: 340px;
  color: #4d4d4d;
}


a, .nav-link{
  color: var(--primary);
  text-decoration: none;
}

.btn{
  background-color: var(--primary);
  color: var(--bg-color);
}

.join-btn{
  background-color: var(--bg-color);
  color: var(--text-color);
}


#logo{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--primary);
}



.newsletter-card{
  background-color:var(--primary);
  color: #ffe;
}


.my-picture, .post-thumbnail{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.post-thumbnail{
  object-position: 50%;
}


@media only screen and (max-width: 600px) {
  .search-inp{
      width: 100%;
  } 

  .my-picture{
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}