
.cardBody{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 5px;
}

.cardTitle{
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.cardMeta{
    font-size: 14px;
    color: rgb(129, 129, 129);
    font-family: 'Plus Jakarta Sans', sans-serif;
}