

.heroSection{
    height: 500px;
    text-align: center;
    padding: 105px 0;
    background-color:  #ccdbfd;
}


.heroText{
    font-size: 65px;
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    width: 60%;
    margin: auto;
    line-height: 80px
}

.heroPara{
    width: 50%;
    margin: auto;
}


.subHeading{
    font-size: 45px;
    font-weight: 600;
    font-family:  'Josefin Sans', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.heroBtn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 15px 45px;
    margin-top: 50px;
    border-radius: 5px;
}


.cohortsSection{
    padding: 50px 0;
}




@media only screen and (max-width: 600px) {
    
    .heroSection{
        height: auto;
    }

    .heroText{
        font-size: 55px;
        font-weight: 900;
        width: 95%;
        margin: auto;
        line-height: 70px
    } 

    .heroPara{
        width: 80%;
        margin: auto;
    }
}


