

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lusitana&family=Plus+Jakarta+Sans:wght@300&family=Source+Serif+Pro:wght@300;700;900&display=swap');


.featuredcardTitle{
    font-family: 'Source Serif Pro', serif;
    font-size: 50px;
    font-weight: 800;
}

.featuredcardBody{
    font-family: 'Lusitana', serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.cardMeta{
    font-size: 14px;
    color: rgb(129, 129, 129);
    font-family: 'Plus Jakarta Sans', sans-serif;
}



