@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;800&family=Anton&family=Josefin+Sans:wght@300;400;700&family=Plus+Jakarta+Sans&family=Questrial&family=Yeseva+One&display=swap");

.heroSection {
  height: 600px;
  padding: 105px 0;
  background: rgb(220, 160, 255);
  background: radial-gradient(
    circle,
    rgba(220, 160, 255, 1) 17%,
    rgba(231, 233, 255, 1) 73%,
    rgba(255, 199, 216, 1) 98%
  );
}

.heroText {
  font-size: 65px;
  font-weight: 900;
  text-align: center;
  font-family: "Questrial", sans-serif;
  line-height: 80px;
  margin-bottom: 20px;
}

.heroPara {
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.newsletterCard {
  background: rgb(220, 160, 255);
  background: radial-gradient(
    circle,
    rgba(220, 160, 255, 1) 17%,
    rgba(231, 233, 255, 1) 73%,
    rgba(255, 199, 216, 1) 98%
  );
  border-radius: 5px;
  padding: 45px 0;
}

.newsletterHeading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 25px;
  text-align: center;
}

.newsletterInp {
  width: 300px;
  height: 58px;
  padding: 0 7px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}

.newsletterBtn {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 0px;
  border-radius: 5px;
  height: 58px;
  width: 100px;
  margin: 0 5px;
}

@media only screen and (max-width: 600px) {
  .newsletterHeading {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .newsletterBtn {
    height: 40px;
  }

  .heroSection {
    height: auto;
  }

  .heroText {
    font-size: 55px;
    font-weight: 900;
    width: 95%;
    margin: auto;
    line-height: 70px;
  }

  .heroPara {
    width: 80%;
    margin: auto;
  }
}
