.promotionCard {
  background: rgb(101, 105, 222);
  background: linear-gradient(
    234deg,
    rgba(101, 105, 222, 1) 9%,
    rgba(191, 217, 250, 1) 67%,
    rgba(210, 173, 216, 1) 97%
  );
  padding: 50px 30px;
  border-radius: 8px;
  text-align: center;
}

.promotionCardTitle {
  font-family: "Lusitana", serif;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
}

.promotionCardSubtitle {
  font-family: "Lusitana", serif;
}


